<!DOCTYPE html>
<html lang="en">
 <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>快狗搜索-要快还是快狗快</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
        <script type="text/javascript" src="/scripts/dengdu/dengdu.js"></script>
        <style type="text/css">
        input:focus
        {
            background-color:floralwhite;
        }
        </style>
    </head>
    <body style="background-image:url({{ url_for('static', filename='nku.jpg')}});min-height: 100%;background-color:#f5f5f5">
        <div class="container" id="vue-app" style=" min-height: 690px;">
            <div class="text-center" style="margin-top:150px;line-height:50px;">
                <a href="/"><img src="{{ url_for('static', filename='logo.png')}}" style="height:150px;width = 200px" /></a>
            </div>
            <div class="tab-content " style="margin-top:30px; width:50%">
                <div role="tabpanel" class="tab-pane active text-center" id="home">
                    <div class="input-group " style="margin-top: 20px;border-radius: 20px;">
                        <input type="text" class="form-control "  id ="query" style="height:50px; border:2px solid;border-radius:25px;margin-left:300px;margin-right:200px;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" style="height:50px;border:2px solid;border-radius:25px;margin-left:300px;"><a href="" id="search" style="font-size: 15px;">搜索</a></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
     <script type="text/javascript">
    $(document).ready(function(){
       //点击链接的时候调用
      $("#search").click(function(){

          //得到input的值
          var query = $("#query").val();

          //设置查询的href的值
          $("#search").attr("href","search?q=" + query + "&target=resume");
      });
    });
    </script>
        <footer style="background: rgba(47,119,145,0.19);padding:20px 20px;position:relative;bottom:0;width:100%;height:100px;color:black;font-size: large; " class="text-center">
          ©版权所有 falalala<br>
          意见反馈请询 <a style="color:black;font-size: large;" target="_blank"; href="https://drummerboy458.github.io/">drummerboy458.github.io</a>
        </footer>
    </body>
</html>